<div>
  <H1>Search</H1>
</div>

<%= form_for @search_part, url: parts_path, method: :get do |f| %>
    <div>
      <%= f.label :column1 %>
      <%= f.text_field :column1 %>
    </div>
    <div>
      <%= f.label :column2 %>
      <%= f.text_field :column2 %>
    </div>
    <div>
      <%= f.label :column3 %>
      <%= f.text_field :column3 %>
    </div>
    <div>
      <%= f.label :column4 %>
      <%= f.text_field :column4 %>
    </div>
    <div>
      <%= f.label :column5 %>
      <%= f.text_field :column5 %>
    </div>
    <div>
      <%= f.label :column6 %>
      <%= f.text_field :column6 %>
    </div>
    <div>
      <%= f.label :column7 %>
      <%= f.text_field :column7 %>
    </div>
    <div>
      <%= f.label :column8 %>
      <%= f.text_field :column8 %>
    </div>
    <div>
      <%= f.label :column9 %>
      <%= f.text_field :column9 %>
    </div>
    <div>
      <%= f.label :column10 %>
      <%= f.text_field :column10 %>
    </div>
    <div>
      <%= f.label :column11 %>
      <%= f.text_field :column11 %>
    </div>
    <div>
      <%= f.label :column12 %>
      <%= f.text_field :column12 %>
    </div>
    <div>
      <%= f.label :column13 %>
      <%= f.text_field :column13 %>
    </div>
    <div>
      <%= f.label :column14 %>
      <%= f.text_field :column14 %>
    </div>
    <div>
      <%= f.label :column15 %>
      <%= f.text_field :column15 %>
    </div>
    <div>
      <%= f.label :column16 %>
      <%= f.text_field :column16 %>
    </div>
    <div>
      <%= f.label :column17 %>
      <%= f.text_field :column17 %>
    </div>
    <div>
      <%= f.label :column18 %>
      <%= f.text_field :column18 %>
    </div>
    <div>
      <%= f.label :column19 %>
      <%= f.text_field :column19 %>
    </div>
    <div>
      <%= f.label :column20 %>
      <%= f.text_field :column20 %>
    </div>
    <div>
      <%= f.label :column21 %>
      <%= f.text_field :column21 %>
    </div>
    <div>
      <%= f.label :column22 %>
      <%= f.text_field :column22 %>
    </div>
    <div>
      <%= f.label :column23 %>
      <%= f.text_field :column23 %>
    </div>
    <div>
      <%= f.label :column24 %>
      <%= f.text_field :column24 %>
    </div>
    <div>
      <%= f.label :column25 %>
      <%= f.text_field :column25 %>
    </div>
    <div>
      <%= f.label :column26 %>
      <%= f.text_field :column26 %>
    </div>
    <div>
      <%= f.label :column27 %>
      <%= f.text_field :column27 %>
    </div>
    <div>
      <%= f.label :column28 %>
      <%= f.text_field :column28 %>
    </div>
    <div>
      <%= f.label :column29 %>
      <%= f.text_field :column29 %>
    </div>
    <div>
      <%= f.label :column30 %>
      <%= f.text_field :column30 %>
    </div>
  <div>
    <%= f.submit name: 'search' %>
  </div>
<% end %>

